<!-- If we're cool, eventually we'll use a fancy dynamic layout arrangement thing -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> -->
<!-- <script src="/jquery.masonry.min.js"></script> -->
<!-- <script src="pagedisplayer.js"></script> -->

<div class="container">
  <div class="navbar-inner">
    <h1><%= @page.title %></h1>
  </div>

  <% if notice %>
    <div class="alert alert-info">
      <%= notice %>
    </div>
  <% end %>

  <div class="container-fluid">
    <% @pageboxes.each do |pb| %>
      <div class="pagebox_container">
        <div class="navbar-more-inner"><%= pb.title %> <%= link_to '[x]', pb, :confirm => 'Remove this item?', :method => :delete, :class => 'close-inner' %> </div>
        <%= pb.content.html_safe %>
      </div>

    <% end %>
  </div>
</div>

<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Home</a>
      <ul class="nav">
        <li><%= link_to 'New Pagebox', { :controller => :pageboxes, :action => :new, :id => @page.id }%></li>
        <li><%= link_to 'Edit', edit_page_path(@page)%></li>
        <li><%= link_to 'Back', {:controller => :home, :action => 'index'}%></li>
      </ul>
    </div>
  </div>
</div>
