<div class="container">
  <div class="navbar">
    <div class="navbar-inner navbar-fixed-top">
      <div class="pull-left">
        <a href="/"><img src="<%= RNOC[:logo] %>" id="rnoc-show-logo"></a>
      </div>
      <div class="pull-right">
        <h4><i><%= RNOC[:site_title] %></i> - <%= @page.title %></h4>
      </div>
    </div>
  </div>
</div>


<% if notice %>
  <div class="container">
    <div class="alert alert-info"><%= notice %></div>
  </div>
<% end %>

<% if !@page.enabled %>
  <br />
  <div class="alert alert-error">
    <b>Ohman!<b> This page is disabled. It won't be included while using 'Play'.
  </div>
<% end %>

<div class="row-fluid">
  <% @pageboxes.each do |pb| %>
    <div class="span4 pagebox_container">
      <div class="navbar-more-inner"><%= pb.title %>

	<%=  link_to([pb.page, pb], {:confirm => 'Are you sure?', :method => :delete, :class => 'close-inner'}) do %>
          <i class="icon-trash icon-red"></i> <% end %>


        <%= link_to(edit_page_pagebox_path(pb.page, pb), {:class => 'close-inner', :rel => 'tooltip', :title => 'edit page box properties'}) do %>
          <i class="icon-edit icon-black"></i> <% end %>

      </div>
      <%= display_content(pb.content).html_safe %>
    </div>
  <% end %>
</div>


<div class="container">
  <div class="navbar">
    <div class="navbar-inner navbar-fixed-bottom">
      <!-- Main action bar buttons -->
      <ul class="nav">
        <li>
          <%= link_to(new_page_pagebox_path(:page_id => @page.id), {:class => 'btn btn-small', :rel => 'tooltip', :title => 'add new page box'}) do %>
            <i class="icon-plus icon-black"></i> <% end %>
        </li>
        <li>
          <%= link_to(edit_page_path(@page), {:class => 'btn btn-small', :rel => 'tooltip', :title => 'edit page properties'}) do %>
            <i class="icon-pencil icon-black"></i> <% end %>
        </li>

        <li>
          <%=  link_to(@page, {:confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small'}) do %>
            <i class="icon-trash icon-red"></i> <% end %>
        </li>
        <li>
          &nbsp;
        </li>
        <li>
          <%= link_to(@page.prev, {:class => 'btn btn-small', :id => 'prev', :rel => 'tooltip', :title => 'previous page'}) do %>
            <i class="icon-step-backward icon-black"></i> <% end %>
        </li>
        <li>
          <%= link_to(@page, {:class => 'btn btn-small btn-inverse', :id => 'stop', :rel => 'tooltip', :title => 'stop auto-play'}) do %>
            <i id="stop-icon" class="icon-stop icon-white"></i> <% end %>
        </li>
        <li>
          <%= link_to(cycle_page_path(@page), {:class => 'btn btn-small', :id => 'play', :rel => 'tooltip', :title => 'toggle auto-play'}) do %>
            <i id="play-icon" class="icon-play icon-black"></i> <% end %>
        </li>
        <li>
          <%= link_to(@page.next, {:class => 'btn btn-small', :id => 'next', :rel => 'tooltip', :title => 'next page'}) do %>
            <i class="icon-step-forward icon-black"></i> <% end %>
        </li>
      </ul>

      <!-- Help/More info button -->
      <ul class="nav pull-right">
        <li>
          <a id="rnoc-help"
	     class="btn btn-small"
	     rel="tooltip"
	     title="help"><i class="icon-question-sign icon-black"></i> </a>
        </li>
      </ul>
    </div>
  </div>
</div>
