<!-- If we're cool, eventually we'll use a fancy dynamic layout arrangement thing -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> -->
<!-- <script src="/jquery.masonry.min.js"></script> -->
<!-- <script src="pagedisplayer.js"></script> -->



<div class="container">
  <div class="navbar-inner">
    <h1><%= @page.title %></h1>
  </div>

  <% if notice %>
    <div class="alert alert-info">
      <%= notice %>
    </div>
  <% end %>

  <div class="allthepageboxes">
    <% @pageboxes.each do |pb| %>
      <div class="pagebox_container">
        <div class="navbar-inner"><%= pb.title %> <%= link_to '[x]', pb, :confirm => 'Remove this item?', :method => :delete %> </div>
        <%= pb.content.html_safe %>
      </div>

    <% end %>
  </div>
</div>

<div class="container footerlink">
  <%= link_to 'New pagebox', { :controller => :pageboxes, :action => :new, :id => @page.id }, :class => 'btn' %>
  <%= link_to 'Edit', edit_page_path(@page), :class => 'btn' %>
  <%= link_to 'Back', {:controller => :home, :action => 'index'}, :class => 'btn' %>
</div>
