<META HTTP-EQUIV=Refresh CONTENT="10; URL=<%= "/pages/#{@next.id}/cycle" %>">

<div class="container">

  <h1><%= @page.title %></h1>

  <% if notice %>
    <div class="alert alert-info">
      <%= notice %>
    </div>
  <% end %>

  <% @pageboxes.each do |pb| %>
    <p><%= link_to pb.title, pb %></p>
  <% end %>

  <%= link_to 'New pagebox', :controller => :pageboxes, :action => :new, :id => @page.id %>
  <%= link_to 'Edit', edit_page_path(@page) %>
  <%= link_to 'Back', {:controller => :home, :action => 'index'} %>
</div>