<%= form_for @pagebox, :url => {:action => :create, :id => @page.id} do |f| %>

  <% if @pagebox.errors.any? %>
	<br />
	<div class="alert alert-error">
	  <b>Oh Snap!</b> <%= pluralize(@pagebox.errors.count, "error") %> prohibited this pagebox from being saved:

		<ul>
		  <% @pagebox.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		  <% end %>
		</ul>
	</div>
  <% end %>

  <br />

  <span class="label label-inverse">
	Title
  </span><br /><br />
  <%= f.text_field :title %><br />

  <span class="label label-inverse">
	Type
  </span><br /><br />
  <%= select_tag "type", options_for_select(['image', 'iframe']) %><br /><br />

  <span class="label label-inverse">
	Source
  </span><br /><br />
  <%= text_field_tag "source", '', :size => 100 %><br />

  <%= f.submit :class => 'btn btn-inverse' %>
<% end %>
