<!DOCTYPE html>
<html>
  <head>
    <title>RNOC</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href="/assets/css/rnoc.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner navbar-fixed-top">
          <div class="pull-left">
            <a href="/"><img src="<%= RNOC[:logo] %>"></a>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
<br>
      <%= yield %>
  </body>
</html>
